section#sabor {
    height: 100vh;
    background-color: var(--creme);
    padding: 10px;
}

figure img {
    height: 55vh;
    width: 35vw;
    border-radius: 25px;
}

figure {
    padding: 70px;
}

.flex-organizacao-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
}

.espacamentos {
    padding: 38px;
}
p.promo {
    font-size: clamp(0.6875rem, 0.8vw + 0.5rem, 0.875rem);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
span.bum {
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.452);
}


.botao {
    font-weight: bold;
    display: inline-block;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    margin-top: 10px;
    border-radius:  3.125rem;
    padding: 1rem 2.5rem;
    background-color: var(--verde-acento);
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    font-size: clamp(0.875rem, 1.2vw + 0.5rem, 1.125rem);
}

.botao:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
}

  .btn-icon {
    height: 20px;
    width: 24px ;
    filter: brightness(0) invert(1);
    transform: translateY(4px)

}

/* Section - História - h1 e paragrafo centralizados no meio da tela*/

section#historia {
    background-color: var(--roxo-muito-claro);
    height: 80vh;
    padding: 20px;
}

section#historia p {
padding: 30px;
text-align: center;
}

/*cc = collumn + center*/
.flex-organizacao-cc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* section - Cardapio = slide com legenda*/

section#cardapio {
    background-color: var(--creme);
    text-align: center;
}

section#cardapio h2 {
    padding-top: 40px;
}

/* limita a altura da imagem */
#carouselExampleCaptions .carousel-item img {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

/* garante espaço para a legenda não sobrepor */
#carouselExampleCaptions .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 15px;
    bottom: 20px;
}

#carouselExampleCaptions .carousel-caption h5 {
    font-size: 1rem;
}

#carouselExampleCaptions .carousel-caption p {
    font-size: 0.8rem;
    line-height: 1.4;
}

#carouselExampleCaptions .carousel-item {
    position: relative;
    overflow: hidden;
}

#carouselExampleCaptions .carousel-item img {
    height: 550px;
    object-fit: inherit;
    background-color: white;
    display: block;
    margin: 0 auto;
    width: auto;
}

#carouselExampleCaptions .carousel-caption {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 15px;
}

#carouselExampleCaptions .carousel-control-prev-icon,
#carouselExampleCaptions .carousel-control-next-icon {
    filter: invert(1);
}