section#escolher {
    background-color: var(--marrom-claro);
    padding: 1rem;
    height: 110vh;

}
section#escolher h3 {
    font-size: clamp(1.3rem, 2.2vw, 1.75rem);
}
section#escolher p {
    font-size: clamp(0.85rem, 1.2vw, 1.05rem);
    text-align: center;
    font-weight: 400;
    color: rgb(73, 73, 73);
}

/*grid colocando 3 em cima e 3 embaixo*/
.grid-tres-w {
    display: grid;
    grid-template-columns: repeat(3,1fr);
     gap: 20px;
     padding: 20px;
}


section#escolher article {
    padding: 10px 2rem;
    background-color: white;
    border-radius: 1.05rem;
    gap: .2rem;
    box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.08);
    transition: transform .3s ease;
}

section#escolher article:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.10);
}

